<html>
<main>

  <h1>{{ name }}</h1>


  <h2>Install {{ name }} Sketch library</h2>

<p>
  Libraries are the best way to import and share symbols between your Sketch files. 
  When you update components in a Library, documents that use them will get an update notification. 
  You can review those changes and confirm them to make sure you’re always using the most up-to-date components in your work.
</p>

<button>Install {{ name }} Sketch library</button>

<h2>Update the library</h2>

<p>We regularly make adjustments.
  {{ name }} Sketch Library is hosted on Github and updated automatically via the RSS file linked. 
  *You may need to restart your software to be notified.</p>

<h3>Libraries documentation</h3>

<p>https://www.sketch.com/docs/libraries/</p>

  
</main>
</html>